.block{
	display:block;
}
pre[class*="language-"].mb{
	margin-bottom:40px;
}
.red{
	color: #E95B5B !important;
}
/*.padbt{
	padding-bottom:20px;
	padding-top: 59px;
}*/
.syntaxhighlighter{
	padding:20px 0;
}