.wrap{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
@media (min-width: 1018px) {
.wrap{
	width:1000px;
}
}


.size{
	display:table;
	width:100%;
	overflow: hidden;
	position:relative;
	height:100%;
	table-layout: fixed;

}
.cell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
