.test {
background: rgba(108, 37, 111, 0.75);
}
.test .cell{
	text-align:left;
}
.test img{
	float:left;
	margin-right:20px;
}
.test p{
color: #FFF;
font-size: 20px;
background:purple;
padding:50px;
}

