.name a {
	position: fixed;
	left: 0;
	margin-left: 78px;
	background: #fff;
	color: #555555;
	padding: 15px 14px;
	font-size: 20px;
	line-height: 1;
	z-index: 1000;
	text-align: left;
	width: 100%;
}
.myname{
	display:block;
}

.name .name-title{
	float:left;
	display: inline;
	position:relative;
	top:5px;
	font-size:.8em;
	color: #A8A8A8;
	font-style:italic;
	margin-right: 90px;
}
.name .lose{
	display:none;
}

@media (min-width: 439px){ 
	.name a{
	padding: 17px;
	font-size: 22px;
	line-height: 1.5;
}
.myname{
	display:inline;
}
.name .name-title{
	float:right;
}
}
@media (min-width: 626px){ 
.name .lose{
	display:inline-block;
}
}

/*.name a{
	position: fixed;
	left: 0;
	margin-left: 78px;
	background: #fff;
	color: #555555;
	padding: 17px;
	font-size: 22px;
	z-index: 1000;
	text-align: left;
	width:100%;
}*/

/*.name .name-title{
	float:right;
	display: inline-block;
	position:relative;
	top:5px;
	font-size:.8em;
	color: #C9C9C9;
	font-style:italic;
	margin-right: 90px;
}
}*/