.profile img{
	margin-bottom: 10px;

	max-width:100%;
}
.profile p {
  color: white;
  font-size: 20px;

	line-height:1.5; 
	margin: auto;
}
.profile a {
font-weight: bold;
color: #fff;
border-bottom: 2px dotted #fff;
}

@media (min-width: 544px){
.profile img{
	margin-bottom: 20px;

	max-width:100%;
}
.profile p {
  font-size: 36px;

}	
}

